<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/bootstrap %>
    <title>Add Partner</title>
  </head>
  <body>
    <div class="container">
      <% include ../partials/navigation_bar.ejs %>
      <h3>Edit Partner Data</h3>
      <form action="/partner/edit/<%= partner.id %>" method="post">
          <label for="first_name">First Name :</label><br>
          <input type="text" name="first_name" value="<%= partner.first_name %>"><br>
          <label for="last_name">Last Name :</label><br>
          <input type="text" name="last_name" value="<%= partner.last_name %>"><br>
          <label for="gender">Gender :</label><br>
          <input type="text" name="gender" value="<%= partner.gender %>"><br>
          <label for="age">Age :</label><br>
          <input type="number" name="age" value="<%= partner.age %>"><br>
          <label for="email">Email :</label><br>
          <input type="email" name="email" value="<%= partner.email %>"><br>
          <label for="phone">Phone Number :</label><br>
          <input type="text" name="phone" value="<%= partner.phone %>"><br>
          <label for="height">Height :</label><br>
          <input type="number" name="height" value="<%= partner.height %>"><br>
          <label for="weight">Weight :</label><br>
          <input type="number" name="weight" value="<%= partner.weight %>"><br>
          <label for="rate">Rate :</label><br>
          <input type="number" name="rate" value="<%= partner.rate %>"><br><br>
          <input class="btn btn-success" type="submit" value="Submit`" onclick="return confirm (`Are you sure every data is valid?`)">
      </form>
    </div>
  </body>
</html>
