<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>partner</title>
  </head>
  <body>
    <div class="container" align="center">
      <h2>Partner List</h2>
      <a href="/partner/add" class="btn btn-primary">Add Partner</a><br><br>
      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Rate</th>
            <th>Action</th>
          </tr>
        </thead>
        <% let count = 1 %>
        <% partners.forEach(partner => { %>
          <tr>
            <td><%= count++ %></td>
            <td><%= partner.id %></td>
            <td><%= partner.first_name %></td>
            <td><%= partner.last_name %></td>
            <td><%= partner.gender %></td>
            <td><%= partner.age %></td>
            <td><%= partner.email %></td>
            <td><%= partner.phone %></td>
            <td><%= partner.height %></td>
            <td><%= partner.weight %></td>
            <td><%= partner.rate %></td>
            <td>
              <a href="/partner/edit/<%= partner.id %>" class="btn btn-warning">Edit</a>
              <a href="/partner/delete/<%= partner.id %>" class="btn btn-danger" onclick="return confirm (`Are you sure to delete this item?`)">Delete</a>
            </td>
          </tr>
          <% }) %>
        </table>
    </div>
  </body>
</html>
