<!DOCTYPE html>
<html>
  <head>
    <title>Edit User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
    <h1>Edit User</h1>
    <h2><a href ="/user/"></a></h2>
  <body>
        <form action="/user/edit/<%= user.id %>" method= "post">
            First Name:<br>
            <input type="text" name="first_name" placeholder="<%= user.first_name %>">
            <br>
            Last Name:<br>
            <input type="text" name="last_name" placeholder="<%= user.last_name %>">
            <br>
            Gender:<br>
            <input type="text" name="gender" placeholder="<%= user.gender %>">
            <br>
            Age:<br>
            <input type="text" name="age" placeholder="<%= user.age %>">
            <br>
            Email:<br>
            <input type="text" name="email" placeholder="<%= user.email %>">
            <br>
            Phone:<br>
            <input type="text" name="phone" placeholder="<%= user.phone %>">
            <br><br>
            <input type="submit" value="Edit User">
          </form>
  </body>
</html>
